
@{
    ViewBag.Title = "Menù Analytics";
}

<h2>Menù Analytics</h2>

<h3>Utilizza i bottoni per visualizzare:</h3>
<div>
    <a class="btn btn-primary my-1" href="@Url.Action("VerbaliPerTrasgressorePrint", "Analytics")">Visualizza Verbali per Trasgressore</a>
    <a class="btn btn-primary my-1" href="@Url.Action("PuntiPerTrasgressorePrint", "Analytics")">Visualizza Punti per Trasgressore</a>
    <a class="btn btn-primary my-1" href="@Url.Action("AnagraficaDieci", "Analytics")">Visualizza Violazioni con decurtamento di punti 10+</a>
    <a class="btn btn-primary my-1" href="@Url.Action("QuattrocentoPrint", "Analytics")">Visualizza Violazioni con importi &euro;400+</a>
</div>

